* {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lucida Console", "Courier New", monospace;
}

#notification {
    text-align: center;
    color: red;
}

.heading {
    text-align: center;
    color: tomato;
    font-size: 3em;
    padding-top: 20px;
}

.container {
    max-width: 400px;
    width: 90%;
    margin: 10vh auto 0 auto;
    /* box-shadow: 0px 0px 8px 8px #888888; */
}

#display {
    word-wrap: break-word;
    font-size: 25px;
    text-align: right;
    height: 25px;
    padding: 16px 8px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
}

#displayResult {
    word-wrap: break-word;
    font-size: 25px;
    text-align: right;
    height: 25px;
    padding: 16px 8px;
    background-color: lightgray;
    border-radius: 0px 0px 10px 10px;
}

.allBtns {
    display: grid;
    /* border-bottom: 1px solid black;
    border-left: 1px solid black; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 100px;
}

.allBtns > div {
    /* border-top: 1px solid black;
    border-right: 1px solid black; */
    border-radius: 10px;
    background-color: seagreen;
    margin: 2px;
}

.btn {
    /* border: 0px solid black; */
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.btn.clear {
    background-color: orange;
}

.btn.del {
    background-color: red;
}

.btn.percentage {
    background-color:steelblue;
}

#result {
    background-color:sienna;
    color: white;
    grid-column-start: 1; grid-column-end: 5;
}

#result:hover {
    background-color: gray;
}

.btn:hover {
    background-color: gray;
    transition: 0.3s;
    color: white;
}